.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 10% auto 5%;
    background-color: #f2e9de;
    width: 100vw;
    height: 100vh;
}

.header {
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    padding-right: 2%;
    margin-top: 5px;
}

.menu1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-top: 10%;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 0;
    font-size: 1.75em;
}

.menu2 {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: #fffaf3;
}

.main {
    grid-column: 2 / 8;
    grid-row: 2 / 3;
    margin-top: 0;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 0;
}

.footer {
    grid-column: 1 / 7;
    grid-row: 3 / 4;
    text-align: center;
}

.note-buttons {
    position: relative;
    left: 238px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #286983;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.right {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 5px;
}

.menu-align {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 10%;
}

.sameline {
    display: inline-block;
}

.note-header {
    color: #393552;
    font-weight: bold;
}

.bullet {
    border: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2e9de;
    color:#286983;
    vertical-align: top;
    font-size: 2.4em;
    margin-right: 5px;
}

.menu1-button {
    font-family: 'Montserrat', sans-serif;
    color:#286983;
    border: none;
    background-color: #f2e9de;
    font-size: 1.25em;
}

.menu2-button {
    font-family: 'Montserrat', sans-serif;
    color:#286983;
    border: none;
    background-color: #fffaf3;
    font-size: 2em;
}

.save {
    border: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2e9de;
    color:#286983;
    font-size: 1em;
}

.save:hover {
    color: #56949f;
}

.save:active {
    color: #9ccfd8;
}

.delete {
    border: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2e9de;
    color:#d7827e;
    font-size: 1em;
}

.delete:hover {
    color: #ea9a97;
}

.delete:active {
    color: #ebbcba;
}

textarea {
    font-size: 17px;
    resize: none;
}


li {
    list-style-type: none;
    display: inline;
    float: right;
    padding-right: 15px;
}

@media only screen and (max-width: 600px) {
    div {
        font-size: 1.05em;
    }
}

@media only screen and (min-width: 601px) {
    div {
        font-size: 1em; 
    }
}    


